/* CSS Reset */
*{
padding: 0;
margin: 0;
}
.logo img{
    margin: 6px 6px;
    padding: 10px 10px;
    border: 2px solid yellow;
    border-radius: 20px;
}
.navigation {
    display: flex;
    position: relative;
}
.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul li{
     list-style: none;
     font-size: 1.2rem;
}
.navigation ul li a{
    font-family: cursive;
    color: yellow;
    padding: 10px 10px;
    margin:  7px 7px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 1s ease-in ;

}
.navigation ul li a:hover{
    background-color: azure;
    color: green;
    border: 25px;
    border: 4px solid black;
}
.navigation::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index:-1;
}
.home{
 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    margin: 10px 10px;
}
.home::before{
    content: "";
    background: url("../bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    height:450px;
}
.home h1{
    font-size: 3rem;
    color: white;
    font-family: cursive;
}
.home p{
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: cursive;
}
.btn{
    font-family: cursive;
    font-size: 1.6rem;
    color: red;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 4rem;
    width: 15rem;
    cursor: pointer;
    transition: all 1s ease-in;
}
.btn:hover{
    background-color: rgb(168, 248, 221);
     color: deeppink;
     border-radius: 30px;
}
.centre {
    font-family: cursive;
    font-size: 1rem;
    color: rgb(240, 65, 158);
    justify-content: center;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
}

.card-1{
    width: 300px;
    height: 330px;
    font-family: cursive;
    color: rgb(128, 4, 0);
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 10px 10px ;
    margin: 8px 8px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(247, 157, 157);
    transition: all .5s ease-in;
}
.card-1 h3{
    font-size: 1.7rem;
    color: black;
}
.card-1:hover{
    background-color: rgb(174, 245, 245);
}
.card-1 img{
    border-radius: 18px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.card-2{
    width: 300px;
    height: 330px;
    font-family: cursive;
    color: crimson;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px;
    margin: 8px 8px ;
    padding: 10px 10px;
    text-align: center;
    transition: all .5s ease-in-out;
    box-shadow: 10px 10px 3px rgb(128, 245, 128);

}
.card-2 h3{
    font-size: 2rem;
    color: black;
}
.card-2:hover{
    background-color: rgb(241, 171, 85);
}
.card-2 img{
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.card-3{
    width : 300px;
    height: 330px;
    font-family: cursive;
    color: deeppink;
    background-color: rgb(133, 247, 209);
    padding: 10px 10px;
    margin: 8px 8px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 3px  rgb(250, 250, 100);
    transition: all .5s ease-in;
}
.card-3 h3{
    font-size: 1.6rem;
    color: black;
}
.card-3:hover{
    background-color: cornsilk;
}
.card-3 img{
    border-radius: 20px;
    margin: 7px 7px;
    padding: 10px 10px;
}
.card-4{
    width: 300px;
    height: 330px;
    font-family: cursive;
    color: blue;
    background-color: azure;
    padding: 12px 12px;
    margin: 7px 7px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 3px rgb(252, 92, 252);
    text-align: center;
    transition: all .5s ease-in;
}
.card-4 h3{
    font-size: 1.5rem;
    color: black;
}
.card-4:hover{
    background-color: wheat;
}
.card-4 img{
    margin: 7px 7px;
    padding: 10px 10px;
    border-radius: 20px;
}
.container::before{
    content: "";
    background: url(../bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 450px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
    height: 100%;
    width: 100%;
    height: 700px;
}
.centre1 {
    font-family: cursive;
    font-family: 2rem;
    color: rgb(15, 15, 236);
    text-align: center;
    justify-content: center;

}
.client{
    display: flex;
}

.box-1 img{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin:  7px 7px;
}
.box-2 img{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin: 7px 7px;
    padding: 10px 10px;
}
.box-3 img{
    width:  150px;
    height: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.box-4 img{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.box-5 img{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.box-6 img {
    width: 150px;
    height: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.box-7 img{
    width: 150px ;
    height: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.centre2{
    font-family: cursive;
    font-size: 1rem;
    color: red;
     justify-content: center;
     text-align: center;
}
.sponser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponser-1 img{
    height: 75px;
    width: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.sponser-2 img{
    height: 75px;
    width: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.sponser-3 img{
    height: 75px;
    width: 100px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 7px 7px;
}
sponser-4 img{
    height: 75px;
    width: 100px;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.sponser-5 img{
    height: 75px;
    width: 100px;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.sponser-6 img{
    height: 75px;
    width: 100px;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 7px 7px;
}
.sponser::before{
    content: "";
    background: url("../bg9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1150px;
    left: 0px;
    height: 100%;
    width: 100%;
    height: 700px;
    z-index: -1;
    opacity: 0.89;
}
.centre3{
    font-family: cursive;
    font-size: 1.5rem;
    text-align:center;
    justify-content: center;
    color: lime;
}
.centre4{
    font-family: cursive;
    font-size: 1rem;
    color: yellow;
    text-align: center;
    justify-content: center;
}
.contact{
    display: flex;
    text-align: center;
    justify-content: center;
}
.form-action{
    font-family: cursive;
    font-size: 1.5rem;
    color: rgb(168, 243, 17);
    padding: 15px 15px;
    margin: 10px 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 4px  rgb(146, 250, 250);
}
#name{
    width: 70%;
    height: 100%;
    height: 20px;
    font-size: 1.5rem;
     color: red;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
}
#email{
    width: 70%;
    height: 100%;
    height: 20px;
    font-size: 1.5rem;
    color: deeppink;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 10px 10px;
}
#number{
    width: 70%;
    height: 100%;
    height: 20px;
    font-size: 1.5rem;
    color: darkorange;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 10px 10px;
    text-align: center;
}